
<div style="display:flex" >
  <app-navbar></app-navbar>
  <div class="movie-card-container">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">

      <mat-card-header class="card-header">
        <mat-card-title class="card-title">{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle> 
      </mat-card-header>
      <div class="movie-card">
        <div class="img-container">
            <img mat-card-image src={{movie.ImagePath}} alt={{movie.Title}} />
          <div>
            <mat-card-actions>
                <button
                    mat-button
                    color="primary"
                    (click)="openMovieDetails(movie.Description)"
                    
                >
                    Synopsis
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="getGenre(movie.Genre)"
                
                >
                    Genre
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="getOneDirector(movie.Director)"
                   
                >
                    Director
                </button>

                <button
                *ngIf="!isFavoriteMovie(movie._id)"
                mat-icon-button
                (click)="addToFavorites(movie._id)"
                matTooltip="Add to favorites"
              >
                <mat-icon>favorite_border</mat-icon>
              </button>
        
              <button
                *ngIf="isFavoriteMovie(movie._id)"
                mat-icon-button
                (click)="removeFavoriteMovie(movie._id)"
                matTooltip="Remove from favorites"
              >
                <mat-icon>favorite</mat-icon>
              </button>
           
            </mat-card-actions>
        </div>
        </div>
        </div>
      </mat-card>
     </div>
  </div>
 


